.card {
  width: 250px;
  height: 190px; 
  margin-left: 60px;
  margin-top: 40px
}

.Cards {
  display: flex;
  align-items: center;
  justify-content: center;

  

}

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: 600px;
  font-size: 30px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.welcomeUser {
  font-size: 50px;
  color: grey;
  margin-left: 500px;
}

.volumeInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.qualityInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}